* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    /* background-color: rgb(248, 217, 221); */
    /* background-color: rgb(240, 240, 65); */
}
h1{
    margin: 1rem auto;
}
.turn_container{
    width: 20%;
    padding: 1rem;
    text-align: center;
    background-color: burlywood;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.chess_container {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
}

.chess_row {
    display: flex;
    align-items: center;
}

.chess_box {
    width: 4.8rem;
    height: 4.5rem;
    border: 1px solid black;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.chess_box:hover{
    transform: scale(1.1);
}
img {
    width: 50%;
    cursor: pointer;
}

